Documentation/nr-flows/nr-bathroom.json
[
    {
        "id": "976b7e56.4d24",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_1",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\" : \"light.bathroom_1\",     \"profile\" : \"energize\",     \"brightness_pct\" : 100,     \"transition\" : 30 }",
        "mergecontext": "",
        "x": 720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1b67f5fa.44feca",
        "type": "server-state-changed",
        "z": "77d649f0.4873c8",
        "name": "Bathroom Motion",
        "server": "ce00dc94.646a4",
        "entityidfilter": "sensor.ecolink_motion_detector_burglar",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "b38ea992.1ebd58",
                "67f06ae1.9324c4",
                "a0a1e81c.37fd58",
                "1a507dc0.09fc02",
                "36511269.b9f2ee"
            ]
        ]
    },
    {
        "id": "3aabd582.c560aa",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\" : \"light.bathroom_3\",     \"profile\" : \"energize\",     \"brightness_pct\" : 100,     \"transition\" : 30 }",
        "mergecontext": "",
        "x": 720,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ad1f74d6.186f48",
        "type": "stoptimer",
        "z": "77d649f0.4873c8",
        "duration": "6",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "6m Timer",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "dd7443e.2db88c",
                "76bb41d6.de556",
                "efb56c9e.f0e9a"
            ],
            []
        ]
    },
    {
        "id": "dd7443e.2db88c",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn Off Bathroom_1",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\" : \"light.bathroom_1\" }",
        "mergecontext": "",
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "76bb41d6.de556",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn Off Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\" : \"light.bathroom_3\" }",
        "mergecontext": "",
        "x": 720,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b38ea992.1ebd58",
        "type": "time-range-switch",
        "z": "77d649f0.4873c8",
        "name": "Morning (Sunrise->8:30a)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "sunrise",
        "endTime": "08:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "976b7e56.4d24",
                "3aabd582.c560aa",
                "c7119edc.445aa"
            ],
            []
        ]
    },
    {
        "id": "67f06ae1.9324c4",
        "type": "time-range-switch",
        "z": "77d649f0.4873c8",
        "name": "Daytime (8:30am->GoldenHour)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "08:30",
        "endTime": "goldenHour",
        "startOffset": 0,
        "endOffset": "-30",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "d96fe156.3eec5",
                "1c1481a2.786e0e",
                "e650795e.d94d38"
            ],
            []
        ]
    },
    {
        "id": "a0a1e81c.37fd58",
        "type": "time-range-switch",
        "z": "77d649f0.4873c8",
        "name": "Evening (GoldenHour (-30) ->11:00pm)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "goldenHour",
        "endTime": "23:00",
        "startOffset": "-30",
        "endOffset": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "e6426710.d83268",
                "9331f991.e7e308",
                "20268e5f.08a272"
            ],
            []
        ]
    },
    {
        "id": "1a507dc0.09fc02",
        "type": "time-range-switch",
        "z": "77d649f0.4873c8",
        "name": "Sleeping Hours (11:00pm -> 6:00am)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "23:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "93d1778b.daf878",
                "9422cd23.5db7b"
            ],
            []
        ]
    },
    {
        "id": "705a41a1.d4fdf",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On GBathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_2\" }",
        "mergecontext": "",
        "x": 720,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "af9e3ccf.4eef4",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_3\" }",
        "mergecontext": "",
        "x": 720,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d96fe156.3eec5",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_1",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.bathroom_1\",     \"profile\" : \"reading\",     \"brightness_pct\" : 80 }",
        "mergecontext": "",
        "x": 720,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1c1481a2.786e0e",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.bathroom_3\",     \"profile\" : \"reading\",     \"brightness_pct\" : 80 }",
        "mergecontext": "",
        "x": 720,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e6426710.d83268",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_1",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.bathroom_1\",     \"profile\" : \"relax\",     \"brightness_pct\" : 65 }",
        "mergecontext": "",
        "x": 720,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9331f991.e7e308",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.bathroom_3\",     \"profile\" : \"relax\",     \"brightness_pct\" : 65 }",
        "mergecontext": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "93d1778b.daf878",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_1",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.bathroom_1\", \"color_name\" : \"red\", \"brightness_pct\":5 }",
        "mergecontext": "",
        "x": 720,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9422cd23.5db7b",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.bathroom_3\", \"color_name\" : \"red\", \"brightness_pct\":5 }",
        "mergecontext": "",
        "x": 720,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "36511269.b9f2ee",
        "type": "switch",
        "z": "77d649f0.4873c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "ad1f74d6.186f48"
            ],
            []
        ]
    },
    {
        "id": "c7119edc.445aa",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_6",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\" : \"light.bathroom_6\",     \"profile\" : \"energize\",     \"brightness_pct\" : 100,     \"transition\" : 30 }",
        "mergecontext": "",
        "x": 940,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e650795e.d94d38",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_6",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.bathroom_6\",     \"profile\" : \"reading\",     \"brightness_pct\" : 80 }",
        "mergecontext": "",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "20268e5f.08a272",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_6",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.bathroom_6\",     \"profile\" : \"relax\",     \"brightness_pct\" : 65 }",
        "mergecontext": "",
        "x": 940,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fefc4e97.c5e6f",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn On Bathroom_6",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.bathroom_6\", \"color_name\" : \"red\", \"brightness_pct\":5 }",
        "mergecontext": "",
        "x": 940,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "efb56c9e.f0e9a",
        "type": "api-call-service",
        "z": "77d649f0.4873c8",
        "name": "Turn Off Bathroom_6",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\" : \"light.bathroom_6\" }",
        "mergecontext": "",
        "x": 940,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ce00dc94.646a4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "url": "http://192.168.1.35:8123",
        "pass": "Hello"
    }
]