Documentation/nr-flows/nr-guest-bathroom.json
[
    {
        "id": "2414b5fc.bd81da",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On GBathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\" : \"light.guest_bathroom_2\",     \"profile\" : \"energize\",     \"brightness_pct\" : 100,     \"transition\" : 30 }",
        "mergecontext": "",
        "x": 740,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c772216.5516be",
        "type": "server-state-changed",
        "z": "11350437.c8588c",
        "name": "Bathroom Motion",
        "server": "ce00dc94.646a4",
        "entityidfilter": "sensor.aeotec_zw100_multisensor_6_burglar",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "57a6f972.cf4ac8",
                "9e565551.d60f28",
                "340316ea.91b5ba",
                "77925923.44f218",
                "10570333.69691d"
            ]
        ]
    },
    {
        "id": "7d0e3ba6.b5e354",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\" : \"light.guest_bathroom_3\",     \"profile\" : \"energize\",     \"brightness_pct\" : 100,     \"transition\" : 30 }",
        "mergecontext": "",
        "x": 740,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "73712492.6d28dc",
        "type": "stoptimer",
        "z": "11350437.c8588c",
        "duration": "6",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "6m Timer",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "f6237358.dd736",
                "d36c6d71.6205d",
                "39bb2ef3.9b5bd2"
            ],
            []
        ]
    },
    {
        "id": "f6237358.dd736",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn Off Guest Bathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_2\" }",
        "mergecontext": "",
        "x": 760,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d36c6d71.6205d",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn Off Guest Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_3\" }",
        "mergecontext": "",
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "57a6f972.cf4ac8",
        "type": "time-range-switch",
        "z": "11350437.c8588c",
        "name": "Morning (Sunrise->8:30a)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "sunrise",
        "endTime": "08:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "2414b5fc.bd81da",
                "7d0e3ba6.b5e354"
            ],
            []
        ]
    },
    {
        "id": "9e565551.d60f28",
        "type": "time-range-switch",
        "z": "11350437.c8588c",
        "name": "Daytime (8:30am->GoldenHour)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "08:30",
        "endTime": "goldenHour",
        "startOffset": 0,
        "endOffset": "-30",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "af4a44b0.603058",
                "cf6db04.bd7145"
            ],
            []
        ]
    },
    {
        "id": "340316ea.91b5ba",
        "type": "time-range-switch",
        "z": "11350437.c8588c",
        "name": "Evening (GoldenHour (-30) ->11:00pm)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "goldenHour",
        "endTime": "23:00",
        "startOffset": "-30",
        "endOffset": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "8b9e3760.55ae58",
                "d4cbff8b.6347d"
            ],
            []
        ]
    },
    {
        "id": "77925923.44f218",
        "type": "time-range-switch",
        "z": "11350437.c8588c",
        "name": "Sleeping Hours (11:00pm -> 6:00am)",
        "lat": "38.8865",
        "lon": "-77.0969",
        "startTime": "23:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "42f8fba1.813d84",
                "90ef732e.e52be"
            ],
            []
        ]
    },
    {
        "id": "d2b49db4.38248",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On GBathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_2\" }",
        "mergecontext": "",
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1c6b216e.e0b8af",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_3\" }",
        "mergecontext": "",
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "af4a44b0.603058",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On Bathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.guest_bathroom_2\",     \"profile\" : \"reading\",     \"brightness_pct\" : 80 }",
        "mergecontext": "",
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cf6db04.bd7145",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.guest_bathroom_3\",     \"profile\" : \"reading\",     \"brightness_pct\" : 80 }",
        "mergecontext": "",
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8b9e3760.55ae58",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On GBathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.guest_bathroom_2\",     \"profile\" : \"relax\",     \"brightness_pct\" : 65 }",
        "mergecontext": "",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d4cbff8b.6347d",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{     \"entity_id\": \"light.guest_bathroom_3\",     \"profile\" : \"relax\",     \"brightness_pct\" : 65 }",
        "mergecontext": "",
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "42f8fba1.813d84",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On GBathroom_2",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_2\", \"color_name\" : \"red\", \"brightness_pct\":10 }",
        "mergecontext": "",
        "x": 740,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "90ef732e.e52be",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turn On Bathroom_3",
        "server": "ce00dc94.646a4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\" : \"light.guest_bathroom_3\", \"color_name\" : \"red\", \"brightness_pct\":10 }",
        "mergecontext": "",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "10570333.69691d",
        "type": "switch",
        "z": "11350437.c8588c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "73712492.6d28dc",
                "a68643d9.103d5"
            ],
            [
                "2d61556c.608f2a"
            ]
        ]
    },
    {
        "id": "a68643d9.103d5",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Motion",
        "server": "ce00dc94.646a4",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\": \"media_player.livingroom_speaker\", \"message\": \"Motion Detected\" }",
        "mergecontext": "",
        "x": 370,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2d61556c.608f2a",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "No Motion",
        "server": "ce00dc94.646a4",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\": \"media_player.livingroom_speaker\", \"message\": \"No Motion\" }",
        "mergecontext": "",
        "x": 250,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "39bb2ef3.9b5bd2",
        "type": "api-call-service",
        "z": "11350437.c8588c",
        "name": "Turning off lights",
        "server": "ce00dc94.646a4",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\": \"media_player.livingroom_speaker\", \"message\": \"Turning off lights\" }",
        "mergecontext": "",
        "x": 580,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ce00dc94.646a4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "url": "http://192.168.1.35:8123",
        "pass": "Hello"
    }
]